<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello world!</title>
    <base href="//{{domain}}/assets/"/>
    {{ assets({files: [
        '@public/assets/css/style.css',
        ], name: 'app.css'})
    }}
</head>
<body>
    <p>
        Hello Site theme!
    </p>
</body>
</html>
