{% extends 'admin-theme/base.html.twig' %}

{% block pre_head_inject %}
  <!-- jsGrid -->
  <link rel="stylesheet" href="/admin-assets/plugins/jsgrid/jsgrid.min.css">
  <link rel="stylesheet" href="/admin-assets/plugins/jsgrid/jsgrid-theme.min.css">
{% endblock %}

{% block content %}
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">jsGrid</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                {#{ dump(items) }#}
                <div id="jsTypesGrid"></div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
{% endblock %}

{% block footer_inject %}
  <!-- jsGrid -->
  <script src="/admin-assets/plugins/jsgrid/jsgrid.min.js"></script>
{% endblock %}

{% block post_footer_inject %}
  <script>
    $(function () {
      var gridData = {{ items.data|json_encode|raw }};
      console.log(gridData);
      $("#jsTypesGrid").jsGrid({
          height: "auto",
          width: "100%",
   
          sorting: true,
          paging: true,
          autoload: false,
   
          data: gridData,
   
          fields: [
              { name: "name", type: "text", title: "Denumire", width: 150 },
              { name: "description", type: "text", title: "Descriere", width: 250 },
              { type: "control" }
          ]
      });
    });
  </script>
{% endblock %}